@import "tailwindcss";

@layer base {
    body {
        @apply text-neutral-600;
    }

    h1 {
        @apply text-5xl font-bold mt-3;
    }

    h2 {
        @apply text-3xl font-bold mb-3;
    }

    h3 {
        @apply text-xl font-bold mb-3;
    }

    p {
        @apply text-base font-medium text-neutral-600 mb-4;
    }

    a {
        @apply hover:underline hover:underline-offset-2 hover:decoration-2 text-purple-900 hover:bg-neutral-200 px-3 py-2 rounded-md font-medium;
    }

    a.simple {
        @apply p-0 hover:bg-inherit;
    }

    a.bare,
    .body p a{
        @apply p-0 hover:bg-inherit underline underline-offset-2 decoration-2;
    }

    label {
        @apply block mb-2 font-semibold;
    }

    label.error {
        @apply font-bold text-red-700;
    }

    form input[type="search"],
    form input[type="text"],
    form input[type="date"],
    form textarea {
        @apply bg-neutral-50 border border-neutral-200 px-4 py-2 rounded-md w-full;
    }

    form input.error,
    form textarea.error {
        @apply border-2 bg-red-50 border-red-400;
    }

    footer {
        @apply mt-6 text-sm text-neutral-500 text-center border-t-2 border-t-neutral-200 py-6;
    }

    footer a {
        @apply px-0 text-neutral-500 hover:bg-neutral-100 hover:text-neutral-600;
    }

    footer p {
        @apply mb-1 text-neutral-500;
    }

    nav ul li {
        @apply text-lg inline;
    }

    nav ul li:after {
        content: "\00a0|\00a0";
    }

    nav ul li:before {
        content: none;
    }

    nav ul li:last-child:after {
        content: none;
    }
}

@layer components {
    button,
    .button {
        @apply bg-neutral-100 text-neutral-800 border-neutral-300 border-2 flex flex-row gap-x-1 justify-center place-items-center py-2 md:py-2 pl-5 pr-4 rounded-lg font-medium text-center transition delay-100 duration-150 ease-in-out w-full md:w-32 shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 hover:cursor-pointer hover:shadow-neutral-300 hover:drop-shadow-sm;
    }

    .button.edit {
        @apply bg-green-700 hover:bg-green-800 hover:shadow-green-200 border-2 border-green-700 text-white focus-visible:outline-green-600 hover:drop-shadow-md;
    }

    .button.delete {
        @apply hover:text-red-800 hover:border-red-200 hover:shadow-red-400 hover:bg-red-100 focus-visible:outline-red-600 hover:drop-shadow-md;
    }

    .button.create {
        @apply bg-purple-900 w-fit text-white hover:shadow-purple-300 hover:drop-shadow-md;
    }

    #notes {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4 xl:gap-8 my-6;
    }

    .note-item {
        @apply border border-neutral-200 rounded-lg bg-neutral-50 flex flex-col place-content-between;
    }

    .note-item h2 {
        @apply font-bold text-lg mb-3 leading-6;
    }

    .note-item .metadata {
        @apply flex flex-row gap-2 my-2 place-content-between items-center;
    }

    .note-item .content {
        @apply p-7 pt-3 pb-3;
    }

    .note-item .controls {
        @apply text-base mt-2 mb-3 px-7 pb-3 flex flex-col md:flex-row gap-2 justify-items-center gap-x-2;
    }

    .note-item .controls .edit {
        @apply hover:font-medium transition delay-100 duration-150 ease-in-out;
    }

    .note-item .body {
        @apply text-neutral-600 max-h-50 overflow-auto rounded-md;
    }

    .note-date {
        @apply text-sm mb-2 text-neutral-500 pt-2;
    }

    .pill {
        @apply text-sm text-neutral-500 py-0 px-2 border rounded-full;
    }

    .pill.purple {
        @apply border-purple-200 bg-purple-100 text-purple-700;
    }

    p.pill {
        @apply mb-0;
    }

    /**
     * 1. Make sure the dialog container and all its descendants sits on
     *    top of the rest of the page.
     * 2. Make the dialog container a flex container to easily center the
     *    dialog.
     */
    .dialog-container {
        @apply z-10 flex;
    }

    /**
     * 1. Make the overlay look like an overlay.
     */
    .dialog-overlay {
        /*background-color: rgb(43 46 56 / 0.9);*/ /* 1 */
    }

    /**
     * 1. Vertically and horizontally center the dialog in the page.
     * 2. Make sure the dialog sits on top of the overlay.
     * 3. Make sure the dialog has an opaque background.
     */
    .dialog-content {
        @apply m-auto z-40 relative bg-white p-4 rounded-lg drop-shadow-2xl shadow-2xl border-2 border-neutral-300;
    }
}
