@import "tailwindcss";

@theme {
    --animate-fade-out: fade-out 0.8s ease-out;
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}

@layer base {
    body {
        @apply antialiased md:subpixel-antialiased text-neutral-700 bg-neutral-100 relative;
    }

    h1 {
        @apply text-4xl md:text-6xl font-bold lg:pt-3 lg:mt-3;
    }

    h2 {
        @apply text-3xl font-bold mb-3;
    }

    h3 {
        @apply text-xl font-bold mb-3;
    }

    p {
        @apply text-base font-medium text-neutral-600 mb-4;
    }

    a {
        @apply hover:underline hover:underline-offset-2 hover:decoration-2 text-purple-900 hover:bg-neutral-200 px-3 py-2 rounded-md font-medium;
    }

    a.simple {
        @apply p-0 hover:bg-inherit;
    }

    a.bare,
    .body p a{
        @apply p-0 hover:bg-inherit underline underline-offset-2 decoration-2;
    }

    header {
        @apply flex flex-col place-content-between gap-y-2 lg:mt-2 text-center;
    }

    label {
        @apply block mb-2 font-semibold;
    }

    label.error {
        @apply font-bold text-red-700;
    }

    select,
    form input[type="search"],
    form input[type="text"],
    form input[type="date"],
    form textarea {
        @apply bg-neutral-50 border border-neutral-300 px-4 py-2 rounded-md w-full focus:bg-white transition delay-100 duration-150 ease-in-out;
    }

    form input.error,
    form textarea.error {
        @apply border-2 bg-red-50 border-red-400;
    }

    form .controls {
        @apply flex flex-col md:flex-row gap-y-2 md:gap-x-2 mt-2 justify-end;
    }

    form .field-info {
        @apply p-1 text-sm text-neutral-500 my-0;
    }

    form {
        @apply flex flex-col gap-y-5 w-full md:w-2/3;
    }

    .quick-guide {
        @apply w-1/3 hidden md:block font-medium;
    }

    hr {
        @apply mt-6 mb-8 border-neutral-200;
    }

    /*
     * Styling for the footer and all of its sub-elements
     */
    footer {
        @apply mt-6 text-sm text-neutral-500 text-center border-t-2 border-t-neutral-200 py-6;
    }

    footer a {
        @apply px-0 text-neutral-500 hover:bg-neutral-100 hover:text-neutral-600 underline underline-offset-2 decoration-2;
    }

    footer p {
        @apply mb-1 text-neutral-500;
    }

    /*
     * Styling for the navigation tag and its sub-elements
     */
    nav {
        @apply px-1 py-3 lg:pl-12 lg:pr-12 md:pt-6 flex flex-row place-content-between gap-y-2 text-base text-neutral-600;
    }

    nav a {
        @apply hover:underline hover:underline-offset-2 hover:decoration-2 text-base text-neutral-600  hover:bg-neutral-200 px-3 py-2 rounded-md font-medium;
    }

    nav ul {
        @apply flex flex-row mt-1;
    }

    nav ul li {
        @apply text-lg inline;
    }

    nav ul li:after {
        content: "\00a0|\00a0";
    }

    nav ul li:before {
        content: none;
    }

    nav ul li:last-child:after {
        content: none;
    }
}

@layer components {
    /*
     * Button and elements styled as button styling
     */
    button,
    .button {
        @apply bg-neutral-100 text-neutral-800 border-neutral-300 border-2 flex flex-row gap-x-1 justify-center place-items-center py-2 md:py-2 pl-5 pr-4 rounded-lg font-medium text-center transition delay-100 duration-150 ease-in-out w-full md:w-fit shadow-xs focus-visible:outline-2 no-underline focus-visible:outline-offset-2 hover:cursor-pointer hover:shadow-neutral-300 hover:drop-shadow-sm;
    }

    button.small,
    .button.small {
       @apply py-1 pl-5 pr-4;
    }

    button.bare,
    .button.bare {
       @apply border-0 bg-transparent shadow-none;
    }

    button.edit,
    .button.edit {
        @apply bg-green-700 hover:bg-green-800 hover:shadow-green-200 border-2 border-green-700 text-white focus-visible:outline-green-600 hover:drop-shadow-md;
    }

    button.delete,
    .button.delete {
        @apply hover:text-red-800 hover:border-red-200 hover:shadow-red-400 hover:bg-red-100 focus-visible:outline-red-600 hover:drop-shadow-md;
    }

    button.create,
    .button.create {
        @apply bg-purple-900 w-fit text-white hover:shadow-purple-300 hover:drop-shadow-md;
    }

    .button img {
        @apply my-1;
    }

    .strapline {
        @apply text-xl font-medium text-neutral-500 w-full md:w-3/4 mx-auto text-center;
    }

    /*
     * Styling for the app notifications and the sub-elements
     */
    .notification {
        @apply bg-linear-to-r from-neutral-50 to-neutral-100 px-8 py-6 text-center border-2 border-neutral-200 opacity-90 items-center rounded-2xl shadow-lg absolute right-5 top-5 flex flex-row gap-x-5 animate-fade-out text-left;
        animation-delay: 3s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    .notification .title {
        @apply font-semibold mb-0;
    }

    .notification .message {
        @apply mb-0 mt-1;
    }

    /*
     * Styling for the note items, and note container elements
     */
    .no-notes {
        @apply text-center w-full my-6 px-3 py-5 bg-slate-50 rounded-lg shadow-xs shadow-purple-100 border border-purple-100 text-neutral-600;
    }

    #notes {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4 xl:gap-8 my-6;
    }

    .note-item {
        @apply border border-neutral-200 rounded-lg bg-neutral-50 flex flex-col place-content-between;
    }

    .note-item h2 {
        @apply font-bold text-lg mb-3 leading-6;
    }

    .note-item .metadata {
        @apply flex flex-row gap-2 my-2 place-content-between items-center;
    }

    .note-item .content {
        @apply p-7 pt-3 pb-3;
    }

    .note-item .controls {
        @apply text-base mt-2 mb-3 px-7 pb-3 flex flex-col md:flex-row gap-2 justify-items-center gap-x-2;
    }

    .note-item .controls .edit {
        @apply hover:font-medium transition delay-100 duration-150 ease-in-out;
    }

    .note-item .body {
        @apply text-neutral-600 max-h-50 overflow-auto rounded-md;
    }

    .note-date {
        @apply text-sm mb-2 text-neutral-500 pt-2;
    }

    .pill {
        @apply text-sm text-neutral-500 py-0 px-2 border rounded-full;
    }

    .pill.purple {
        @apply border-purple-200 bg-purple-100 text-purple-700;
    }

    p.pill {
        @apply mb-0;
    }

    /*
     * Style the confirmation dialog
     */
    .dialog-container {
        @apply z-10 flex;
    }

    .dialog-content {
        @apply m-auto z-40 relative bg-linear-to-r from-neutral-50 to-white p-4 rounded-lg shadow-2xl border-2 border-neutral-300;
    }
}
