{% extends "default.html.twig" %}

{% block title %}Not Found{% endblock %}

{% block content %}
<section class="my-6">
    <h2>404</h2>
    <div class="flex flex-row md:gap-x-8 mt-8">
    </div>
</section>
{% endblock %}
