{% set app_name = 'Minimalist Note' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
</head>
<body>

{% block notification %}{% endblock %}

<div class=" mx-auto w-full lg:w-5xl px-2 md:px-5">
    <div
            aria-describedby="my-dialog-description"
            aria-hidden="true"
            aria-labelledby="my-dialog-title"
            class="dialog-container right-5 top-5 md:w-130 hidden fixed mx-4 z-40"
            id="my-dialog"
    >
        <div class="dialog-overlay" data-a11y-dialog-hide></div>
        <div class="dialog-content" role="document">
            <div class="flex flex-col gap-y-1"
                 id="your-dialog-id">
                <div class="flex flex-row gap-x-4 place-content-between">
                    <img src="/images/light-bulb.png" class="hidden md:block w-18 h-18 p-2 grow" alt="">
                    <div>
                        <div class="flex flex-row gap-x-4">
                            <div>
                                <p class="font-semibold mb-2">Are you sure?</p>
                                <p id="my-dialog-description">
                                    Before deleting the note, please know that this action is permanent.
                                </p>
                            </div>
                            <button
                                    aria-label="Close this dialog window"
                                    class="h-6 w-6 p-0 m-0 bare"
                                    data-a11y-dialog-hide
                                    id="btnCloseDialog"
                            >
                                <svg class="svg-icon"
                                     viewBox="0 0 20 20">
                                    <path
                                            fill="currentcolor"
                                            d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
                                    ></path>
                                </svg>
                            </button>
                        </div>
                        <form class="flex flex-col md:flex-row gap-y-2 md:gap-x-3 justify-start"
                              action="/delete"
                              method="post">
                            <button type="button"
                                    class="w-full md:w-fit small"
                                    id="closeDialog"
                                    name="button">Cancel</button>
                            <button type="submit"
                                    class="w-full md:w-fit delete small"
                                    name="button">Delete the note</button>
                            <input type="hidden" id="note-id-to-delete" name="id" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="px-1 py-3 lg:pl-12 lg:pr-12 md:pt-6 flex flex-row place-content-between gap-y-2 text-base text-neutral-600">
        <a href="/"
           class="hover:underline hover:underline-offset-2 hover:decoration-2 text-base text-neutral-600 hover:bg-neutral-200 px-3 py-2 rounded-md font-medium">
            <img src="/images/home.png" alt="Go to the home page">
        </a>
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
    <div class="p-3 lg:px-12 mt-4 md:mt-0 lg:mb-8 lg:mt-4">
        {% block header %}
            <header>
                <h1>{{ app_name }}</h1>
                <div class="strapline">
                    Write notes to remember the things that are important to you.
                </div>
                {% if show_create_button %}
                    <div class="my-4 mx-auto">
                        <a href="/manage"
                           class="button create w-fit"
                           id="create-note">
                            <img src="/images/white/document.png"
                                 width="18"
                                 alt="Create a note">
                            <span class="px-2">Create a note</span>
                        </a>
                    </div>
                {% endif %}
            </header>
        {% endblock %}
        <main class="pt-2">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <p>copyright &copy; Matthew Setter. {{ "now"|date("Y") }}.</p>
        <p>created with &#x1F5A4; in <a href="https://www.google.com/maps/place/Bundaberg+QLD+4670/@-24.8864739,152.2813915,13z/data=!3m1!4b1!4m6!3m5!1s0x6bebb93f0664d9a3:0x400eef17f20d7c0!8m2!3d-24.8660809!4d152.3488645!16s%2Fm%2F027cnr_?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D"
                                        title="Have a look at Bundaberg on Google Maps"
                                        target="_blank">Bundaberg</a> by
            <a href="https://matthewsetter.com"
               target="_blank"
               title="Find out a bit about me.">Matthew Setter</a>.
        </p>
    </footer>
</div>
<!-- if development -->
{% block scripts %}{% endblock %}
</body>
</html>
