{% set app_name = 'Minimalist Note' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
</head>
<body>

{% block notification %}{% endblock %}

<div class="mx-auto w-full lg:w-5xl px-2 md:px-5">

    {{ include('includes/dialogs/delete-note-confirmation.html.twig') }}

    <nav>
        <a href="/">
            <img src="/images/home.png"
                 alt="Go to the home page">
        </a>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
    <div class="p-3 lg:px-12 md:mt-4 md:mt-0 lg:mb-8 lg:mt-4">
        {% block header %}
            <header>
                <h1>{{ app_name }}</h1>
                <div class="strapline">
                    Remember the important things
                </div>
                {% if show_create_button %}
                    <div class="my-4 mx-auto">
                        <a href="/manage"
                           class="button create w-fit"
                           id="create-note">
                            <img src="/images/white/document.png"
                                 width="18"
                                 alt="Create a note">
                            <span class="px-2">Create a note</span>
                        </a>
                    </div>
                {% endif %}
            </header>
        {% endblock %}
        <main class="pt-2">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <p>copyright &copy; Matthew Setter. {{ "now"|date("Y") }}.</p>
        <p>created with &#x1F5A4; in <a href="https://www.google.com/maps/place/Bundaberg+QLD+4670/@-24.8864739,152.2813915,13z/data=!3m1!4b1!4m6!3m5!1s0x6bebb93f0664d9a3:0x400eef17f20d7c0!8m2!3d-24.8660809!4d152.3488645!16s%2Fm%2F027cnr_?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D"
                                        title="Have a look at Bundaberg on Google Maps"
                                        target="_blank">Bundaberg</a> by
            <a href="https://matthewsetter.com"
               target="_blank"
               title="Find out a bit about me.">Matthew Setter</a>.
        </p>
    </footer>
</div>

{% block scripts %}{% endblock %}
</body>
</html>
