{% set app_name = 'Fun Notes' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
</head>
<body class="antialiased md:subpixel-antialiased mx-auto w-full lg:w-5xl text-neutral-700 bg-neutral-100 px-2 md:px-5 relative">
<div
        aria-describedby="my-dialog-description"
        aria-hidden="true"
        aria-labelledby="my-dialog-title"
        class="dialog-container absolute top-5 left-58 hidden"
        id="my-dialog"
>
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div class="dialog-content" role="document">
        <div class="flex flex-col gap-y-1"
             id="your-dialog-id">
            <div class="flex flex-row place-content-between">
                <h2 id="my-dialog-title">Are you sure?</h2>
                <button
                        aria-label="Close this dialog window"
                        class="dialog-close h-9 w-9 p-1 m-1"
                        data-a11y-dialog-hide
                >
                    <svg class="svg-icon"
                         viewBox="0 0 20 20">
                        <path
                                fill="currentcolor"
                                d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
                        ></path>
                    </svg>
                </button>
            </div>
            <p id="my-dialog-description">
                Before deleting the note, please know that this action is permanent.
            </p>
            <form class="flex flex-row gap-x-3 justify-end"
                  action="/delete"
                  method="post">
                <button type="button"
                        class="w-fit"
                        id="closeDialog"
                        name="button">Cancel</button>
                <button type="submit"
                        class="w-fit button delete"
                        name="button">Delete the note</button>
                <input type="hidden" id="note-id-to-delete" name="id" value="">
            </form>
        </div>
    </div>
</div>
<nav class="px-1 py-3 lg:pl-12 lg:pr-12 md:pt-6 flex flex-row place-content-between gap-y-2 text-base text-neutral-600">
    <a href="/"
       class="hover:underline hover:underline-offset-2 hover:decoration-2 text-base text-neutral-600 hover:bg-neutral-200 px-3 py-2 rounded-md font-medium">
        <img src="/images/home.png" alt="Go to the home page">
    </a>
    <ul class="flex flex-row mt-1">
        <li><a href="" class="hover:underline hover:underline-offset-2 hover:decoration-2 text-base text-neutral-600  hover:bg-neutral-200 px-3 py-2 rounded-md font-medium">About</a></li>
    </ul>
</nav>
<div class="p-3 lg:px-12 mt-4 md:mt-0 lg:mb-8 lg:mt-4">
    {% block header %}
    <header class="flex flex-col place-content-between gap-y-2 mt-2 text-center">
        <h1 class="text-6xl font-bold py-3">
            {{ app_name }}
        </h1>
        <div class="text-xl font-medium text-neutral-500 w-3/4 mx-auto text-center">
            Don't just organise apps, create fun notes that help you out whenever you need them.
        </div>
        {% if show_create_button %}
        <div class="my-4 mx-auto">
            <a href="/manage"
               class="button create w-fit"
               id="create-note">
                <img src="/images/white/document.png"
                     width="18"
                     class="my-1"
                     alt="Create a note">
                <span class="px-2">Create a note</span>
            </a>
        </div>
        {% endif %}
    </header>
    {% endblock %}
    <main class="pt-2">
        {% block content %}{% endblock %}
    </main>


</div>
<footer>
    <p>copyright &copy; Matthew Setter. {{ "now"|date("Y") }}.</p>
    <p>created with &#x1F5A4; in <a href="https://www.google.com/maps/place/Bundaberg+QLD+4670/@-24.8864739,152.2813915,13z/data=!3m1!4b1!4m6!3m5!1s0x6bebb93f0664d9a3:0x400eef17f20d7c0!8m2!3d-24.8660809!4d152.3488645!16s%2Fm%2F027cnr_?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D"
                                    title="Have a look at Bundaberg on Google Maps"
                                    class="underline underline-offset-2 decoration-2"
                                    target="_blank">Bundaberg</a> by
        <a href="https://matthewsetter.com"
           target="_blank"
           class="underline underline-offset-2 decoration-2"
           title="Find out a bit about me.">Matthew Setter</a>.</p>
</footer>
<!-- if development -->
{% block scripts %}{% endblock %}
</body>
</html>
